<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :edit_site, @site %>

<%= form_for @site_date_form, url: site_update_date_path(@site) do |form| %>
  <% if object_has_errors?(form.object) %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There is a problem",
      items: error_messages(form.object)
    } %>
  <% end %>

  <span class="govuk-caption-l"><%= @site.default_host.hostname %></span>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Edit transition date",
    heading_level: 1,
    font_size: "l",
    margin_bottom: 6,
  } %>

  <%= render "govuk_publishing_components/components/date_input", {
    id: field_id_attribute(form.object, :launch_date),
    error_message: error_message(form.object, :launch_date),
    items: [
      {
        label: "Day",
        name: "site[launch_date(3i)]",
        width: 2,
        value: form.object.attributes["launch_date(3i)"]
      },
      {
        label: "Month",
        name: "site[launch_date(2i)]",
        width: 2,
        value: form.object.attributes["launch_date(2i)"]
      },
      {
        label: "Year",
        name: "site[launch_date(1i)]",
        width: 4,
        value: form.object.attributes["launch_date(1i)"]
      }
    ]
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "Save",
  } %>
<% end %>
