<% content_for :page_title, 'Organisations' %>

<div class="page-title">
  <h1>
    Organisations<br/>
    <small>
      Transitioning <%= @site_count %> government sites,
      across <%= @organisations.length %> organisations, to GOV.UK.
    </small>
  </h1>
</div>

<table class="organisations table table-striped table-bordered">
  <thead>
  <tr>
    <th class="abbr" scope="col">Abbreviation</th>
    <th class="title" scope="col">Organisation</th>
    <th scope="col">Sites</th>
  </tr>
  </thead>

  <tbody>
  <% @organisations.each do |org| %>
    <tr>
      <td class="abbr">
        <% if org.abbreviation %>
          <%= link_to org.abbreviation, organisation_path(org) %>
        <% end %>
      </td>
      <td class="title">
        <%= link_to org.title, organisation_path(org) %>
      </td>
      <td>
        <%= pluralize(org.site_count, 'site') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
