<% content_for :page_title, 'Organisations' %>

<% breadcrumb :root %>

<div class="page-title">
  <h1>
    Organisations
  </h1>
  <p class="if-no-js-hide lead text-muted normal">
    Use a URL to <a href="#" class="link-muted" data-module="mousetrap-trigger" data-keys="g m">jump to a site or mapping</a> or find your organisation below.
  </p>
  <p>
    You can also create a <%= link_to 'new organisation', new_organisation_path %>.
  </p>
</div>

<table class="organisations table table-striped table-bordered" data-module="filterable-table">
  <thead>
    <tr class="table-header">
      <th class="abbr" scope="col">Abbreviation</th>
      <th class="title" scope="col">
        Organisation (<%= @organisations.length %>)
      </th>
      <th scope="col">Sites (<%= @site_count %>)</th>
    </tr>
    <tr class="if-no-js-hide table-header-secondary">
      <td colspan="3">
        <form>
          <label for="organisation-filter" class="rm">Filter organisations</label>
          <input id="organisation-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter list of organisations">
        </form>
      </td>
    </tr>
  </thead>

  <tbody>
  <% @organisations.each do |org| %>
    <tr>
      <td class="abbr">
        <% if org.abbreviation.present? %>
          <%= link_to org.abbreviation, organisation_path(org) %>
        <% end %>
      </td>
      <td class="title">
        <%= link_to org.title, organisation_path(org), class: 'js-open-on-submit' %>
      </td>
      <td>
        <%= pluralize(org.sites.count, 'site') %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
