<% breadcrumb(@organisation) %>
<%= content_for :page_title, @organisation.title %>

<header>
  <div class="page-title">
    <h1>
      <%= @organisation.title %>
    </h1>
  </div>
  <%= render 'in_conjunction_with' %>
</header>

<% unless @sites.empty? %>
  <h2>Sites</h2>
  <%= render 'sites_table', site_class: 'sites', sites: @sites %>
<% end %>

<% unless @extra_sites.empty? %>
  <h2>Other organisations&rsquo; sites</h2>
  <%= render 'sites_table', site_class: 'extra-sites', sites: @extra_sites %>
<% end %>
