<%= breadcrumb(@organisation) %>
<%= content_for :page_title, @organisation.title %>

<header>
  <div class="page-title">
    <h1>
      <%= @organisation.title %>
    </h1>
  </div>
  <%= render 'in_conjunction_with' %>
</header>

<% if current_user.can_edit?(@organisation) %>
  <p class="alert alert-block alert-info">
    You have permission to edit site mappings for <i><%= @organisation.title %></i>.
  </p>
<% end %>

<% unless @organisation.sites.managed_by_transition.empty? %>
  <h2 class="add-bottom-margin">Sites you manage</h2>
  <%= render partial: 'sites_table', locals: { sites: @sites_managed_by_transition } %>
<% end %>

<% unless @organisation.sites.not_managed_by_transition.empty? %>
  <h2>
    Other sites
  </h2>
  <p class="subtitle muted">
    Sites that cannot be edited because they are configured by older tools (such as <i>redirector</i>).
    <br/>
    You can still view mappings and analytics data.
  </p>
  <%= render partial: 'sites_table', locals: { sites: @sites_not_managed_by_transition } %>
<% end %>
