<%= breadcrumb(@organisation) %>
<%= content_for :page_title, @organisation.title %>

<header>
  <h1 class="page-header">
    <%= @organisation.title %>
  </h1>
  <%= render 'in_conjunction_with' %>
</header>

<% unless @organisation.sites.empty? %>
  <h2>Sites</h2>
  <table class="sites table table-bordered">
    <thead>
    <tr>
      <th>Abbreviation</th>
      <th>Hits</th>
      <th>Homepage</th>
    </tr>
    </thead>
    <tbody>
    <% @organisation.sites.each do |site| %>
      <tr>
        <td><%= link_to "#{site.abbr} Mappings", site_mappings_path(site) %></td>
        <td><%= link_to 'Hits Summary', summary_site_hits_path(site) %></td>
        <td><%= link_to site.homepage, site.homepage %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
