<% breadcrumb(@organisation) %>
<%= content_for :page_title, @organisation.title %>

<header>
  <div class="page-title">
    <h1>
      <%= @organisation.title %>
    </h1>
  </div>
  <p><%= link_to 'Edit', edit_organisation_path %> this orgnaisation.</p>
  <p><%= link_to 'Create a site', new_site_path(organisation: @organisation.whitehall_slug) %> for this orgnaisation.</p>
  <%= render 'in_conjunction_with' %>
</header>

<% unless @sites.empty? %>
  <h2>Sites</h2>
  <table class="sites table table-hover table-striped table-bordered" data-module="filterable-table">
    <thead>
      <tr class="table-header">
        <th scope="col">Old site</th>
        <th scope="col">Transition status</th>
        <th scope="col">Transition date</th>
      </tr>
      <tr class="if-no-js-hide table-header-secondary">
        <td colspan="3">
          <form>
            <label for="site-filter" class="rm">Filter sites</label>
            <input id="site-filter" type="text" class="form-control normal js-filter-table-input" placeholder="Filter list of sites">
          </form>
        </td>
      </tr>
    </thead>
    <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td>
          <%= link_to site.default_host.hostname, site_path(site), class: 'breakable js-open-on-submit' %>
          <% if site.organisation != @organisation %>
            <br><span class="text-muted">owned by</span>
            <%= link_to site.organisation.title, site.organisation, class: 'link-muted' %>
          <% end %>
        </td>
        <td>
          <%= render partial: 'sites/transition_status', locals: {site: site} %>
        </td>
        <td><%= date_or_not_yet(site.launch_date) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
