<%= breadcrumb(@organisation) %>
<%= content_for :page_title, @organisation.title %>

<header>
  <div class="page-title">
    <h1>
      <%= @organisation.title %>
    </h1>
  </div>
  <%= render 'in_conjunction_with' %>
</header>

<% if current_user.can_edit?(@organisation) %>
  <p class="alert alert-block alert-info">
    You have permission to edit site mappings for <i><%= @organisation.title %></i>.
  </p>
<% end %>

<% unless @organisation.sites.empty? %>
  <h2>Sites</h2>
  <table class="sites table table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Old site</th>
        <th scope="col">Mappings</th>
        <th scope="col">Analytics</th>
        <th scope="col">New homepage</th>
        <th scope="col">Launch date</th>
      </tr>
    </thead>
    <tbody>
    <% @sites.each do |site| %>
      <tr>
        <td><span class="breakable"><%= site.default_host.hostname %></span></td>
        <td><%= link_to "Mappings", site_mappings_path(site) %></td>
        <td><%= link_to 'Analytics', summary_site_hits_path(site) %></td>
        <td><%= link_to site.homepage, site.homepage, class: 'breakable' %></td>
        <td><%= date_or_not_yet(site.launch_date) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
