<h3 class="add-vertical-margins">
  <% if category.hits.length == 1 %>
    <%= category.hits.length %> <%= category.title.singularize %>
  <% elsif category.hits.length >= 2 and category.hits.length < 10 %>
    <%= category.hits.length %> <%= category.title %>
  <% else %>
    Top <%= category.hits.length %> <%= category.title %>
  <% end %>
</h3>
