<table class="hits table table-bordered">
  <thead>
  <tr>
    <th class="status">HTTP<br/>Status</th>
    <th>Path</th>
    <th class="count">Count</th>
    <th class="mapping"></th>
  </tr>
  </thead>
  <tbody>
  <% max = hits.first.count %>

  <% hits.each do |hit| %>
    <tr>
      <td class="status"><%= hit.http_status %></td>
      <td class="relative">
        <%= render partial: 'bar_chart_row', locals: { count: hit.count, max: max, status: hit.http_status } %>
        <span class="path"><%= link_to_hit(hit) %></span>
      </td>
      <td class="count"><%= number_with_delimiter hit.count %></td>
      <td class="mapping">
        <%= link_to find_site_mapping_path(@site, path: hit.path), class: 'btn btn-mini', title: 'Check mapping' do %>
          <i class="icon-edit"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
