<table class="hits table table-bordered">
  <thead>
  <tr class="table-header">
    <th class="status" scope="col">HTTP<br/>Status</th>
    <th scope="col">Path</th>
    <th class="count" scope="col">Hits</th>
    <% if current_user.can_edit?(@site.organisation) %>
      <th class="action" scope="col">Action</th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% max = hits.first.count %>

  <% hits.each do |hit| %>
    <tr>
      <td class="status">
        <abbr title="<%= "#{hit.http_status} — #{Rack::Utils::HTTP_STATUS_CODES[hit.http_status.to_i]}" %>">
          <%= hit.http_status %>
        </abbr>
      </td>
      <td class="remove-padding">
        <div class="bar-chart-wrap">
          <%= render partial: 'bar_chart_row', locals: { count: hit.count, max: max, status: hit.http_status } %>
          <strong class="breakable path">
            <%= link_to_hit(hit, @site.default_host) %>
            <% if hit.mapping %>
              <% if [hit.http_status, hit.mapping.http_status] == ['410', '301']  %>
                <br>
                <span class="text-muted"><%= "was archived, now redirecting" %></span>
              <% elsif [hit.http_status, hit.mapping.http_status] == ['301', '410'] %>
                <br>
                <span class="text-muted"><%= "was redirecting, now archived" %></span>
              <% end %>
            <% end %>
          </strong>
        </div>
      </td>
      <td class="count"><%= number_with_delimiter hit.count %></td>
      <% if current_user.can_edit?(@site.organisation) %>
        <td class="action">
          <%= link_to "#{hit.mapping.present? ? 'Edit' : 'Add'} mapping",
                      site_mapping_find_path(@site, path: hit.path), class: 'btn btn-default btn-xs' %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
