<% content_for :page_title, title %>
<%= breadcrumb(hits.first || site.default_host.hits.build) %>

<h1><%= title %></h1>

<%= render partial: 'hits_tabs', locals: { active: active } %>

<%= render partial: 'hits_graph', locals: { point_categories: [@category] } %>

<h2><%= pluralize(number_with_delimiter(hits.total_count, :delimiter => ','), 'path', 'paths') %></h2>
<%= paginate hits %>

<% if hits.total_count > 0 # already eval'd above, saves a DB call with #any? %>
  <%= render partial: 'hits_table', locals: { hits: hits } %>
<% else %>
  <p class="no-content no-content-bordered">
    <%= no_content_message %>
  </p>
<% end %>

<%= paginate hits %>
