<% content_for :page_title, title %>
<%= breadcrumb(site.default_host.hits.build) %>

<div class="page-title">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    <%= title %>
  </h1>
</div>

<%= render partial: 'hits_tabs', locals: { active: active } %>

<%= render partial: 'hits_time_period_dropdown' %>

<% if @category.points.length > 1 && first_page? %>
  <%= render partial: 'hits_graph', locals: { point_categories: [@category] } %>
<% end %>

<h2><%= pluralize(number_with_delimiter(hits.total_count, :delimiter => ','), 'path', 'paths') %></h2>
<%= paginate hits %>

<% if hits.total_count > 0 %>
  <%= render partial: 'hits_table', locals: { hits: hits } %>
<% else %>
  <p class="no-content no-content-bordered">
    <%= no_content_message %>
  </p>
<% end %>

<%= paginate hits %>
