<% exclude_all_time ||= false %>
<div class="hits-time-period navbar navbar-default add-top-margin">
  <h2 class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".hits-time-period .navbar-collapse">
      <span class="sr-only">Toggle analytics navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">
      <span class="rm">Switch </span>Time period
      <p class="rm">Current period is: <%= @period.title %></p>
    </span>
  </h2>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <% unless View::Hits::TimePeriod.all.include?(@period) %>
      <li class="active">
        <%= link_to current_category_in_period_path(@site, @period) do %>
          <span class="rm">Current period: </span>
          <%= @period.title %>
        <% end %>
      </li>
    <% end %>
    <% View::Hits::TimePeriod.all(exclude_all_time: exclude_all_time).each do |period| %>
      <li <% if period == @period %>class="active"<% end %>>
        <%= link_to current_category_in_period_path(@site, period) do %>
          <% if period == @period %>
            <span class="rm">Current period: </span>
          <% else %>
            <span class="rm">Switch to </span>
          <% end %>
          <%= period.title %>
        <% end %>
      </li>
    <% end %>
    </ul>
  </nav>
</div>
<h2 class="rm">Analytics from <%= @period.title %></h2>
