<section class="hits-<%= category.name %>">
  <h2><%= category.title %></h2>
  <% if category.hits.any? %>
    <%= render partial: 'hits_table', locals: { hits: category.hits} %>
  <% else %>
    <p class="no-content no-content-bordered">
      There are no known <%= category.name.pluralize %> for <%= @site.abbr %> <%= @period.no_content %>.
    </p>
  <% end %>
</section>
