<% title = @category.title %>
<% hits  = @category.hits %>
<% active  = @category.title %>

<% content_for :page_title, "#{title} | Universal analytics" %>
<% breadcrumb(:global_hits) %>

<div class="page-title">
  <h1>
    <span class="small">Universal analytics</span>
    <%= title %>
  </h1>
</div>

<%= render partial: 'hits_tabs_global', locals: { active: active } %>
<%= render partial: 'hits_time_period_dropdown' %>

<h2><%= pluralize(number_with_delimiter(hits.total_count, :delimiter => ','), 'path', 'paths') %></h2>
<%= paginate hits %>

<% if hits.total_count > 0 %>
  <%= render partial: 'hits_table_global', locals: { hits: hits } %>
<% else %>
  <p class="no-content no-content-bordered">
    <%= "There are no #{@category.plural} for any site #{@period.no_content}." %>
  </p>
<% end %>

<%= paginate hits %>
