<% breadcrumb(:filter_hits, @site) %>

<%= content_for :page_title, 'Filter hits' %>
<h1 class="page-title-with-border">
  <span class="small"><%= @site.default_host.hostname %></span>
  Filter hits
</h1>

<%= form_tag(site_hits_path(@site), method: 'get', role: 'form', class: 'form row') do %>
  <div class="col-md-6">
    <%= render partial: 'hits/filter/by_path_field' %>

    <%= button_tag 'Filter', name: nil, class: 'btn btn-default ' %>
  </div>
<% end %>
