<% content_for :page_title, "Hits" %>
<% breadcrumb(:global_hits) %>

<div class="page-title-with-border">
  <h1>
    Hits in the last 30 days
  </h1>
</div>

<% @sections.each do |category| %>
  <% if category.hits.any?  %>
    <section class="hits-summary-<%= category.name %> add-big-bottom-margin">
      <h2>
      <% if category.hits.count == 1 %>
        <%= category.hits.length %> <%= category.title.singularize %>
      <% elsif category.hits.length >= 2 and category.hits.length < 10 %>
        <%= category.hits.length %> <%= category.title %>
      <% else %>
        Top <%= category.hits.length %> <%= category.title %>
      <% end %>
      </h2>
      <% if category.hits.any? %>

        <% hits = category.hits %>

        <table class="hits table table-bordered">
          <thead>
          <tr class="table-header">
            <th class="status" scope="col">HTTP<br/>Status</th>
            <th scope="col">Path</th>
            <th class="count" scope="col">Hits</th>
            <th class="action" scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <% max = hits.first.count %>

          <% hits.each do |hit| %>
            <tr>
              <td class="status">
                <abbr title="<%= "#{hit.http_status} — #{Rack::Utils::HTTP_STATUS_CODES[hit.http_status.to_i]}" %>">
                  <%= hit.http_status %>
                </abbr>
              </td>
              <td class="remove-padding">
                <div class="bar-chart-wrap">
                  <%= render partial: 'bar_chart_row', locals: { count: hit.count, max: max, status: hit.http_status } %>
                  <strong class="breakable path">
                    <%= link_to_global_hit(hit) %>
                    <% if hit.mapping %>
                      <% if [hit.http_status, hit.mapping.http_status] == ['410', '301']  %>
                        <br>
                        <span class="text-muted"><%= "was archived, now redirecting" %></span>
                      <% elsif [hit.http_status, hit.mapping.http_status] == ['301', '410'] %>
                        <br>
                        <span class="text-muted"><%= "was redirecting, now archived" %></span>
                      <% end %>
                    <% end %>
                  </strong>
                </div>
              </td>
              <td class="count"><%= number_with_delimiter hit.count %></td>
              <td class="action"></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </section>
  <% end  %>
<% end %>
