<% content_for :page_title, "#{@site.abbr} hits" %>
<h1 class="page-header"><%= "#{@site.abbr} hits" %></h1>

<table class="hits table table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Path</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <% max = @hits.first.count %>

    <% @hits.each do |hit| %>
      <tr>
        <td><%= hit.http_status %></td>
        <td class="relative">
          <%= render partial: 'bar_chart_row', locals: { count: hit.count, max: max, status: hit.http_status } %>
          <span class="path"><%= hit.path %></span>
        </td>
        <td class="count"><%= number_with_delimiter hit.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
