<% content_for :page_title, "Analytics | #{@site.default_host.hostname}" %>
<% breadcrumb(:hits, @site) %>

<div class="page-title">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Analytics
  </h1>
</div>

<%= render partial: 'hits_tabs', locals: { active: 'Summary' } %>

<%= render partial: 'hits_time_period' %>

<% if any_totals_for?(@point_categories) %>
  <%= render partial: 'hits_graph', locals: { point_categories: @point_categories } %>
<% end %>

<% @sections.each do |category| %>
  <% if category.hits.any?  %>
    <%= render partial: 'summary_section', locals: { category: category } %>
  <% end  %>
<% end %>

<% if no_hits_for_any?(@sections) %>
  <p class="no-content no-content-bordered">
    There are no known hits for the <%= @site.default_host.hostname %> summary <%= @period.no_content %>.
  </p>
<% end  %>

