<% content_for :page_title, "#{@site.abbr} hits" %>

<h1 class="page-header"><%= "#{@site.abbr} hits" %></h1>

<section class="hits-errors">
  <h2>Errors</h2>
  <% if @errors.any? %>
    <%= render partial: 'hits', locals: { hits: @errors } %>
  <% else %>
    <p class="no-content no-content-bordered">
      There are no known errors for <%= @site.abbr %> yet.
    </p>
  <% end %>
</section>

<section class="hits-archives">
  <h2>Archives</h2>
  <% if @archives.any? %>
    <%= render partial: 'hits', locals: { hits: @archives } %>
  <% else %>
    <p class="no-content no-content-bordered">
      There are no archive hits for <%= @site.abbr %> yet.
    </p>
  <% end %>
</section>

<section class="hits-redirects">
  <h2>Redirects</h2>
  <% if @redirects.any? %>
    <%= render partial: 'hits', locals: { hits: @redirects } %>
  <% else %>
    <p class="no-content no-content-bordered">
      There are no redirects for <%= @site.abbr %> yet.
    </p>
  <% end %>
</section>
