<% content_for :page_title, "#{@site.abbr} Hits Summary" %>
<%= breadcrumb(@site.default_host.hits.build) %>

<h1><%= "#{@site.abbr} Hits Summary" %></h1>

<%= render partial: 'hits_tabs', locals: { active: 'Summary' } %>

<script src="https://www.google.com/jsapi"></script>
<div class="hits-graph js-hits-graph"></div>
<script>
  var rawData = <%= raw_summary_array(@point_categories) %>;
  GOVUK.Hits.plot(<%= colors(@point_categories) %>);
</script>

<% @sections.each do |category| %>
  <%= render partial: 'summary_section', locals: { category: category } %>
<% end %>
