<% content_for :page_title, "#{@site.abbr} Hits Summary" %>
<%= breadcrumb(@site.default_host.hits.build) %>

<h1><%= "#{@site.abbr} Hits Summary" %></h1>

<%= render partial: 'hits_tabs', locals: { active: 'Summary' } %>

<% if any_hits_for?(@point_categories) %>
  <%= render partial: 'hits_graph', locals: { point_categories: @point_categories } %>
<% end %>

<% @sections.each do |category| %>
  <% if category.hits.any?  %>
    <%= render partial: 'summary_section', locals: { category: category } %>
  <% end  %>
<% end %>
