<% content_for :page_title, "#{@site.abbr} Hits Summary" %>
<%= breadcrumb(@site.default_host.hits.build) %>

<h1><%= "#{@site.abbr} Hits Summary" %></h1>

<%= render partial: 'hits_tabs', locals: { active: 'Summary' } %>

<%= render partial: 'hits_graph', locals: { point_categories: @point_categories } %>

<% @sections.each do |category| %>
  <%= render partial: 'summary_section', locals: { category: category } %>
<% end %>
