<% modal ||= false %>

<%= field_set_tag nil, class: 'form-group' do %>

  <%
    # Rendering a legend with hidden content in a bootstrap modal
    # causes the entire modal to disappear in Chrome ~32
    # Firefox and Safari don't seem affected
  %>
  <% unless modal %>
    <legend class="rm">
      Tagging
    </legend>
  <% end %>

  <% tag_list_label = capture do %>
    Tags
    <p class="text-muted normal add-label-margin">Separate each tag with a comma. eg “content, need:123, plan:2”</p>
  <% end %>

  <% if defined? form %>
    <%= form.label :tag_list, tag_list_label %>
  <% else %>
    <%= label_tag :tag_list, tag_list_label %>
  <% end %>
  <div class="row">
    <div class="<%= modal ? 'col-md-12' : 'col-md-8' %>">
      <% if defined? form %>
        <%= form.text_field :tag_list, class: 'form-control js-tag-list', value: form.object.tag_list.to_s %>
      <% else %>
        <%= text_field_tag :tag_list, tag_list.to_s, class: 'form-control js-tag-list' %>
      <% end %>
    </div>
  </div>
<% end %>

<script>
  GOVUK.Tagging.ready({autocompleteWith: <%= most_used_tags_json(@site, limit: 200) %>});
</script>
