<% content_for(:page_title, 'Preview import') %>

<% breadcrumb(:preview_import_mappings, @site, @batch) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Preview import
  </h1>
</div>

<%= form_for [@site, @batch], url: import_site_import_batch_path(@site, @batch), method: :post, role: 'form' do |f| %>
  <% if @batch.entries.with_existing_mappings.any? %>
    <div class="alert alert-warning">
      <h4>We’ve found <%= pluralize(@batch.entries.with_existing_mappings.count, "existing mapping") %> for the paths entered</h4>
      <%= f.label :update_existing_false, class: 'radio-inline' do %>
        <%= f.radio_button :update_existing, 'false', checked: true %> Keep existing mappings
      <% end %>
      <%= f.label :update_existing_true, class: 'radio-inline' do %>
        <%= f.radio_button :update_existing, 'true' %> Overwrite existing mappings
      <% end %>
    </div>
  <% else %>
    <%= f.hidden_field :update_existing %>
  <% end %>

  <h4 class="add-bottom-margin">Running this import will</h4>
  <ul class="list-group">
    <li class="list-group-item">Create <%= pluralize(@redirect_count, 'new redirect') %></li>
    <li class="list-group-item">Create <%= pluralize(@archive_count, 'new archive') %></li>
    <li class="list-group-item">Create <%= pluralize(@unresolved_count, 'new unresolved mapping') %></li>
    <% if @overwrite_count > 0 %>
      <li class="list-group-item list-group-item-warning">Overwrite <%= pluralize(@overwrite_count, 'existing mapping') %></li>
    <% end %>
</li>
  </ul>

  <%= render partial: 'shared/tag_list_field', locals: { tag_list: @batch.tag_list, form: f } %>

  <%= button_tag 'Import', class: 'btn btn-success add-big-bottom-margin' %>
  <%= link_to 'Cancel', site_path(@site), class: 'btn btn-default add-big-bottom-margin add-left-margin' %>
<% end %>

<h4 class="add-bottom-margin">
  <% if @preview_mappings.size < @batch.entries.size %>
    Preview mappings (<%= number_with_delimiter(@preview_mappings.size) %> of <%= number_with_delimiter(@batch.entries.size) %>)
  <% else %>
    Preview mappings
  <% end %>
</h4>

<table class="mappings table table-bordered preview">
  <thead>
    <tr class="table-header">
      <th class="mapping-type-column" scope="col">Type</th>
      <th scope="col">
        Original path from <%= @site.default_host.hostname %>
      </th>
    </tr>
  </thead>
  <tbody>
  <% @preview_mappings.each do |entry| %>
    <tr <% if entry.mapping %>class="selected-row"<% end %>>
      <td class="<%= "mapping-type-#{entry.type}" %>">
        <% if entry.type == "unresolved" %>
          <span class="unresolved-type" title="No decision yet. Defaulting to archive." data-toggle="tooltip">Archive <span class="glyphicon glyphicon-question-sign unresolved-type-icon"></span></span>
        <% else %>
         <%= entry.type.titleize %>
        <% end %>
      </td>
      <td class="entry-path">
        <strong class="pull-left"><%= link_to entry.path, entry.old_url, class: 'breakable' %></strong>
        <% if entry.redirect? %>
          <br><span class="text-muted">will redirect to</span>
          <%= link_to entry.new_url, entry.new_url, class: 'link-muted breakable' if entry.new_url.present? %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
