<%
  truncate_at_size = 10
  truncate_paths_table = modal && mappings.size > truncate_at_size
%>

<table class="table table-bordered table-striped mappings" data-module="toggle">
  <thead>
    <tr class="table-header">
      <th><%= pluralize(mappings.count, 'path') %> from <%= site.default_host.hostname %></th>
    </tr>
  </thead>
  <tbody>
    <% mappings.each_with_index do |m, i| %>
      <% if truncate_paths_table && i == truncate_at_size - 1 %>
        <tr class="table-header">
          <td class="bold js-toggle-target text-center"><a href="#" class="js-toggle">…and <%= mappings.size - (truncate_at_size - 1)%> more</a></td>
        </tr>
      <% end %>
      <tr <% if truncate_paths_table && i > truncate_at_size - 2 %>class="js-toggle-target if-js-hide"<% end %>>
        <td>
          <strong><%= link_to m.path, m.old_url, class: 'breakable' %></strong>
          <% unless modal %>
            <span class="text-muted">
              <% if m.redirect? %>
                currently redirects to <%= link_to m.new_url, m.new_url, class: 'link-muted breakable' %>
              <% elsif m.archive? %>
                currently archived
              <% elsif m.unresolved? %>
                currently unresolved, will archive by default
              <% end %>
            </span>
          <% end %>
          <%= hidden_field_tag "mapping_ids[]", m.id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
