<%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'form') do %>
  <div class="row">
    <div class="col-md-6">
      <%= label_tag :contains, class: 'control-label' do %>
        Filter by path <% if params[:contains] and params[:contains].length > 0 %>(<%= link_to 'Remove filter', site_mappings_path(@site) %>)<% end %>
      <% end %>
      <div class="input-group">
        <%= text_field_tag :contains, params[:contains], class: 'form-control', placeholder: 'eg /home'  %>
        <span class="input-group-btn">
          <%= button_tag 'Filter', name: nil, class: 'btn btn-default ' %>
        </span>
      </div>
    </div>
  </div>
<% end %>
