<nav class="filters row" data-module="filters">
  <div class="col-md-8">
    <div class="panel panel-default">
      <header class="panel-heading">
        <ul class="nav nav-compact nav-pills">
          <li class="if-no-js-hide nav-pill-text">
            <strong>Filter by</strong>
          </li>
          <li>
            <%= filter_option_link(@site, 'path') %>
            <div class="dropdown-menu dropdown-text-input" role="dialog" id="filter-by-path">
              <%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'form') do %>
                <%= render partial: 'mappings/filter/by_path', locals: {with_button: true, button_text: 'Filter'} %>
              <% end %>
            </div>
          </li>
          <li class="if-js-hide">
            <%= link_to 'Filter mappings', filter_site_mappings_path(@site) %>
          </li>
        </ul>
      </header>

      <% if @path_contains.present? %>
        <div class="panel-body">
          <% if @path_contains %>
            <%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'form') do %>
              <%= render partial: 'mappings/filter/by_path', locals: {with_button: true, button_text: 'Update path'} %>
            <% end %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</nav>
