<nav class="filters row" data-module="filters">
  <div class="col-md-8">
    <div class="panel panel-default">
      <header class="panel-heading">
        <% if @filter.active? %>
          <%= link_to site_mappings_path(site_id: @site), class: 'remove-filters inherit', title: 'Remove all filters' do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        <% end %>
        <ul class="nav nav-compact nav-pills">
          <li class="if-no-js-hide nav-pill-text">
            <strong>Filter by</strong>
          </li>
          <%= render partial: 'mappings/filter/by_path_menu' %>
          <%= render partial: 'mappings/filter/by_new_url_menu' %>
          <%= render partial: 'mappings/filter/by_tag_menu' %>
          <%= render partial: 'mappings/filter/by_type_menu' %>

          <% if @site.hit_total_count > 0 %>
            <li class="if-no-js-hide nav-pill-text add-left-margin">
              <strong>Sort by</strong>
            </li>
            <%= render partial: 'mappings/sort' %>
          <% else %>
            <li class="if-no-js-hide nav-pill-text text-muted">
              Sorted by path
            </li>
          <% end %>
          <li class="if-js-hide">
            <%= link_to 'Filter mappings', filter_site_mappings_path(site_id: @site) %>
          </li>
        </ul>
      </header>
      <% if @filter.incompatible? %>
        <div class="alert alert-warning">
          Your <%= params[:type] %> filter has been removed. Filtering by new URL is only possible with redirects.
        </div>
      <% end %>
      <% if @filter.path_contains.present? || @filter.new_url_contains.present? || @filter.tags.any? %>
        <div class="panel-body">
          <% if @filter.path_contains.present? %>
            <%= form_tag(site_mappings_path(site_id: @site), method: 'get', role: 'form', class: 'form active-filter') do %>
              <%= render partial: 'mappings/filter/by_path_field', locals: {single_filter_form: true, button_text: 'Update path'} %>
            <% end %>
          <% end %>
          <% if @filter.new_url_contains.present? %>
            <%= form_tag(site_mappings_path(site_id: @site), method: 'get', role: 'form', class: 'form active-filter') do %>
              <%= render partial: 'mappings/filter/by_new_url_field', locals: {single_filter_form: true, button_text: 'Update URL'} %>
            <% end %>
          <% end %>
          <% if @filter.tags.any? %>
            <dl class="remove-bottom-margin filtered-tags">
              <dt class="add-label-margin">Tagged</dt>
              <dd>
                <ul class="remove-bottom-margin tag-list">
                <% @filter.tags.each do |tag| %>
                  <li>
                    <%= link_to @filter.query.without_tag(tag), class: 'tag', title: "Remove “#{tag}” tag filter" do %>
                      <span class="glyphicon glyphicon-remove"></span> <%= tag %>
                    <% end %>
                  </li>
                <% end %>
                </ul>
              </dd>
            </dl>
          <% end%>
        </div>
      <% end %>

    </div>
  </div>
</nav>
