<%= form_for @mapping, url: polymorphic_url([@site, @mapping]), html: {class: 'js-edit-mapping-form'} do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <%= f.label :http_status, 'Type' %>
  <%= f.select :http_status, options_for_supported_statuses, {}, { class: 'remove-bottom-margin span4 js-http-status' } %>

  <% if @mapping.persisted? # we're editing, show the example URL  %>
    <div class="add-vertical-margins">
      <%= label_tag :old_url, 'Old URL' %>
      <%= example_url(@mapping, include_host: true, class: 'span7') %>
    </div>
  <% else %>
    <%= f.label :path, 'Old URL', class: 'add-top-margin' %>
    <div class="input-prepend add-bottom-margin">
      <span class="add-on">http://<%= @site.default_host.hostname %></span>
      <%= f.text_field :path, class: 'span8', placeholder: '/path/to/page' %>
    </div>
  <% end %>

  <%= field_set_tag nil, class: 'js-for-redirect' do %>
    <%= f.label :new_url, 'New URL' %>
    <%= f.text_field :new_url, class: 'span8', placeholder: 'https://www.gov.uk' %>
  <% end %>

  <%= field_set_tag nil, class: 'js-for-archive' do %>
    <%= f.label :suggested_url, 'Suggested URL' %>
    <%= f.text_field :suggested_url, class: 'span8' %>

    <%= f.label :archive_url, 'Archive URL' %>
    <%= f.text_field :archive_url, class: 'span8' %>
  <% end %>

  <%= f.submit @mapping.persisted? ? 'Save mapping' : 'Create mapping', class: 'add-top-margin btn btn-success' %>
<% end %>
<script>GOVUK.Mappings.edit()</script>
