<%= form_for @mapping, url: polymorphic_url([@site, @mapping]), html: {role: 'form', 'data-module' => 'toggle-mapping-form-fields'} do |f| %>
  <%= render 'shared/error_messages', error_messages: f.object.errors.full_messages %>

  <% if params[:return_path].present? %>
    <%= hidden_field_tag 'return_path', params[:return_path] %>
  <% end %>

  <div class="form-group row">
    <legend class="legend-reset add-label-margin bold">Type</legend>
    <% Mapping::SUPPORTED_TYPES.each do |type| %>
      <%= label_tag(nil, class: 'radio-inline') do %>
        <%= radio_button_tag(:type, type, type == 'redirect', class: 'js-type') %>
        <%= type.titleize %>
      <% end %>
    <% end %>
  </div>
  <%= render partial: 'unresolved_mappings_description' %>

  <div class="form-group">
    <dl class="read-only-fields add-vertical-margins">
      <dt>Old URL</dt>
      <dd>
        <%= link_to @mapping.old_url, @mapping.old_url %>
      </dd>
    </dl>
  </div>

  <%= field_set_tag nil, class: 'form-group js-for-redirect' do %>
    <legend class="if-js-rm">
      Redirect
    </legend>
    <%= f.label :new_url, 'Redirects to' %>
    <div class="row">
      <div class="col-md-8">
        <%= f.text_field :new_url, class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <%= field_set_tag nil, class: 'js-for-archive' do %>
    <legend class="if-js-rm">
      Archive
    </legend>

    <div data-module="toggle">
      <dl class="read-only-fields js-toggle-target <% if @mapping.archive_url %>if-js-hide<% end %>">
        <dt>National Archives</dt>
        <dd>
          <%= link_to @mapping.national_archive_url, @mapping.national_archive_url %><br />
          <span class="text-muted">Is this archive missing? <a href="#add-alternative-url" class="if-no-js-hide link-muted js-toggle">Use an alternative</a></span>
        </dd>
      </dl>
      <div class="add-bottom-margin js-toggle-target <% unless @mapping.archive_url %>if-js-hide<% end %>">
        <%= f.label :archive_url do %>
          Alternative National Archives URL (<%= link_to 'Find on the National Archives', @mapping.national_archive_index_url %>)
        <% end %>
        <div class="row">
          <div class="col-md-8">
            <div class="input-group">
              <%= f.text_field :archive_url, class: 'form-control' %>
              <a href="#remove" class="btn btn-default js-cancel if-no-js-hide input-group-addon">
                <i class="glyphicon glyphicon-remove"></i> <%= @mapping.archive_url ? 'Remove' : 'Cancel' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div data-module="toggle">
      <p class="if-no-js-hide js-toggle-target <% if @mapping.suggested_url %>if-js-hide<% end %>">
        Did this page contain content that shouldn’t be met by government?<br/>
        <a href="#suggest-url" class="js-toggle link-muted">Suggest a private sector URL</a>
      </p>
      <div class="<% unless @mapping.suggested_url %>if-js-hide<% end %> js-toggle-target">
        <%= f.label :suggested_url do %>
          Suggest URL to user
        <% end %>
        <div class="row">
          <div class="col-md-8">
            <div class="input-group">
              <%= f.text_field :suggested_url, class: 'form-control' %>
              <a href="#remove" class="btn btn-default js-cancel if-no-js-hide input-group-addon">
                <i class="glyphicon glyphicon-remove"></i> <%= @mapping.suggested_url ? 'Remove' : 'Cancel' %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
  <hr>

  <%= render partial: 'shared/tag_list_field', locals: { form: f } %>

  <%= f.submit 'Save mapping', class: 'add-top-margin btn btn-success' %>
<% end %>
