<% include_export ||= false %>
<% include_bulk_add ||= false %>
<tr class="table-header-secondary">
  <td class="selectable-row">
    <div class="relative if-no-js-hide">
      <label title="Select or unselect all paths on this page">
        <input type="checkbox" class="js-toggle-all"/>
      </label>
    </div>
  </td>
  <td colspan="4">
    <div class="pull-left">
      <% unless footer %>
        <%= hidden_field_tag "return_path", request.fullpath %>
        <div class="if-js-hide">
          <%= label_tag :operation_redirect, class: 'radio-inline remove-top-padding' do %>
            <%= radio_button_tag(:operation, 'redirect', selected = true) %> Redirect
          <% end %>
          <%= label_tag :operation_archive, class: 'radio-inline remove-top-padding add-right-margin' do %>
            <%= radio_button_tag(:operation, 'archive') %> Archive
          <% end %>
          <%= label_tag :operation_tag, class: 'radio-inline remove-top-padding add-right-margin' do %>
            <%= radio_button_tag(:operation, 'tag') %> Tag
          <% end %>
          <%= submit_tag "Edit selected", class: 'btn btn-default bold' %>
        </div>
      <% end %>
      <div class="if-no-js-hide js-submit-container btn-group" data-toggle="tooltip" title="Select mappings using checkboxes then edit them with these buttons." data-placement="right">
        <a href="#redirect-paths" class="btn btn-default js-submit-form disabled" data-type="redirect" data-loading-text="Loading…" title="Redirect the paths you’ve selected to a new URL">Redirect</a>
        <a href="#archive-paths" class="btn btn-default js-submit-form disabled" data-type="archive" data-loading-text="Loading…" title="Archive the paths you’ve selected">Archive</a>
        <a href="#tag-paths" class="btn btn-default js-submit-form disabled" data-type="tag" data-loading-text="Loading…" title="Tag the paths you’ve selected">Tag</a>
      </div>
    </div>
    <div class="pull-right">
      <% if include_export && current_user.admin? %>
        <%= link_to site_mappings_path(@site, permitted_params(params.merge(format: 'csv'))), class: 'btn btn-default', title: 'This may timeout for >~75,000 mappings' do %>
          Export CSV
        <% end %>
      <% end %>
      <% if include_bulk_add %>
          <%= render partial: 'mappings/add_button' %>
      <% end %>
    </div>
  </td>
</tr>
