<% css ||= false %>
<% include_footer ||= false %>
<% include_export ||= false %>
<% include_bulk_add ||= false %>
<% fix_header ||= false %>
<% sort_by_hits ||= false %>
<% show_preview_links = show_preview_links?(@site) %>

<% if current_user.can_edit_site?(site) %>
  <div data-module="selectable-table">
    <% if fix_header %><div data-module="fixed-table-header"><% end %>
<% end %>
<%= form_tag edit_multiple_site_mappings_path(site), remote: true, authenticity_token: true do %>
<table class="mappings <%= css if css %> table table-bordered">
  <thead>
    <tr class="table-header">
      <% if current_user.can_edit_site?(site) %>
        <th scope="col">
          <span class="selectable-row-helper" data-toggle="tooltip" data-placement="bottom" title="Use checkboxes to select mappings you want to edit, and edit them using the ‘Archive’, ‘Redirect’ or ‘Tag’ buttons">Edit</span>
        </th>
      <% end %>
      <th class="mapping-type-column" scope="col">Type</th>
      <th scope="col">
        Original path from <%= site.default_host.hostname %>
      </th>
      <% if sort_by_hits %>
        <th class="mapping-hits-column" scope="col">Hits</th>
      <% end %>
      <% if current_user.can_edit_site?(site) %>
        <% if show_preview_links?(@site) %>
          <th class="mapping-edit-and-preview-column"></th>
        <% else %>
          <th class="mapping-edit-column"></th>
        <% end %>
      <% end %>
    </tr>
    <% if current_user.can_edit_site?(site) %>
      <%= render partial: 'mappings/mappings_table_header', locals: {footer: false, include_export: include_export, include_bulk_add: include_bulk_add} %>
    <% end %>
  </thead>
  <tbody>
  <% mappings.each do |mapping| %>
    <tr class="mapping-<%= mapping.id %>">
      <% if current_user.can_edit_site?(site) %>
        <td class="selectable-row">
          <div class="relative">
            <label>
              <%= check_box_tag "mapping_ids[]", mapping.id, checked = false, class: 'js-toggle-row' %>
            </label>
          </div>
        </td>
      <% end %>
      <td class="<%= "mapping-type-#{mapping.type}" %>">
        <% if mapping.type == "unresolved" %>
          <span class="unresolved-type" title="No decision yet. Defaulting to archive." data-toggle="tooltip">Archive <span class="glyphicon glyphicon-question-sign unresolved-type-icon"></span></span>
        <% else %>
         <%= mapping.type.titleize %>
        <% end %>
      </td>
      <td class="mapping-path">
        <strong class="pull-left"><%= link_to mapping.path, mapping.old_url, class: 'breakable' %></strong>
        <%= render partial: 'mappings/tags', locals: { mapping: mapping } %>
        <% if mapping.redirect? %>
          <br><span class="text-muted">redirects to</span>
          <%= link_to mapping.new_url, mapping.new_url, class: 'link-muted breakable' if mapping.new_url.present? %>
        <% end %>
      </td>
      <% if sort_by_hits %>
        <td class="mapping-hits-column">
          <span class="hit-count"><%= friendly_hit_count(mapping.hit_count) %></span><br />
          <span class="hit-percentage text-muted"><%= friendly_hit_percentage(mapping.hit_percentage) %></span>
        </td>
      <% end %>
      <% if current_user.can_edit_site?(site) %>
        <td class="text-right">
          <% if show_preview_links %>
            <div class="btn-group">
              <a href="<%= side_by_side_url(site, mapping) %>" class="btn btn-default btn-sm" title="Preview in side by side browser">Preview</a>
              <%= link_to 'Edit',
                          edit_site_mapping_path(site, mapping, :return_path => request.fullpath),
                          class: 'btn btn-default btn-sm' %>
            </div>
          <% else %>
            <%= link_to 'Edit mapping',
                        edit_site_mapping_path(site, mapping, :return_path => request.fullpath),
                        class: 'btn btn-default btn-sm' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
  <% if include_footer && current_user.can_edit_site?(site) %>
    <tfoot class="if-no-js-hide">
      <%= render partial: 'mappings/mappings_table_header', locals: {footer: true, include_export: include_export, include_bulk_add: include_bulk_add} %>
    </tfoot>
  <% end %>
</table>
<% end %>
<% if current_user.can_edit_site?(site) %>
    <% if fix_header %></div><% end %>
  </div>
<% end %>
