<tr class="table-header-secondary">
  <td class="selectable-row">
    <div class="relative if-no-js-hide">
      <label>
        <input type="checkbox" class="js-toggle-all"/>
      </label>
    </div>
  </td>
  <td colspan="3">
    <div class="pull-left">
      <% unless footer %>
        <div class="if-js-hide">
          <%= label_tag :http_status_301, class: 'radio-inline table-header-radio' do %>
            <%= radio_button_tag(:http_status, '301', selected = true) %> Redirect
          <% end %>
          <%= label_tag :http_status_410, class: 'radio-inline table-header-radio add-right-margin' do %>
            <%= radio_button_tag(:http_status, '410') %> Archive
          <% end %>
          <%= submit_tag "Edit selected", class: 'btn btn-default bold' %>
        </div>
      <% end %>
      <div class="if-no-js-hide btn-group">
        <a href="#redirect-selected" class="btn btn-default js-submit-form disabled" data-type="301" data-loading-text="Loading…">Redirect selected</a>
        <a href="#archive-selected" class="btn btn-default js-submit-form disabled" data-type="410" data-loading-text="Loading…">Archive selected</a>
      </div>
    </div>
    <div class="pull-right">
      <%= render partial: 'add_button' %>
    </div>
  </td>
</tr>
