<%= field_set_tag nil, class: 'form-group' do %>
  <legend class="rm">
    Tagging
  </legend>

  <% tag_list_label = capture do %>
    Tags
    <p class="text-muted normal add-label-margin">Separate each tag with a comma. eg "content, need:123, plan:2"</p>
  <% end %>

  <% if defined? form %>
    <%= form.label :tag_list, tag_list_label %>
  <% else %>
    <%= label_tag :tag_list, tag_list_label %>
  <% end %>
  <div class="row">
    <div class="col-md-8">
      <% if defined? form %>
        <%= form.text_field :tag_list, class: 'form-control' %>
      <% else %>
        <%= text_field_tag :tag_list, @bulk_add.tag_list.to_s, class: 'form-control' %>
      <% end %>
    </div>
  </div>
<% end %>
