<ol class="mapping-versions" reversed>
  <% @mapping.versions.reverse.each do |version| %>
    <li id="<%= version.id %>">
      <h3 class="add-bottom-margin">
        <%= friendly_changeset_title(version) %>
      </h3>
      <p class="subtitle muted">
        Change made by <strong><%= version.whodunnit %></strong> on <%= version.created_at.to_formatted_s(:long) %>
      </p>
      <h4 class="rm">Changes</h4>
      <dl class="well">
        <% version.changeset.each_pair do |field, change| %>
          <dt><%= friendly_changeset_field(field) %></dt>
          <dd><%= friendly_changeset_values(field, change) %></dd>
        <% end %>
      </dl>
    </li>
  <% end %>
</ol>
