<div id="bulk-editing-modal"
  class="modal"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  data-module="auto-track-event"
  data-track-action="select-mappings"
  data-track-label="<%= @bulk_edit.analytics_event_type %>"
  data-track-value="<%= @bulk_edit.mappings.size %>"
>
  <%= form_tag update_multiple_site_mappings_path(site_id: @site), class: 'modal-dialog', role: 'form' do %>
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">
          <%= operation_name(@bulk_edit.operation) %> mappings
        </h3>
      </header>
      <div class="modal-body remove-bottom-padding">
        <% if @bulk_edit.operation == 'tag' %>
          <%= render partial: 'shared/tag_list_field',
                     locals: { tag_list: @bulk_edit.tag_list, modal: true } %>
        <% end %>
        <%= render partial: 'edit_multiple_redirect',
                   locals: { new_url: @bulk_edit.new_url,
                             new_url_error: @bulk_edit.new_url_error,
                             operation: @bulk_edit.operation } %>
        <%= render partial: 'edit_multiple_table',
                   locals: { modal: true,
                             mappings: @bulk_edit.mappings,
                             site: @site } %>
      <%= hidden_field_tag "return_path", @bulk_edit.return_path %>
      </div>
      <footer class="modal-footer remove-top-margin">
        <a href="#close" data-dismiss="modal" class="btn btn-default add-right-margin">Cancel</a>
        <%= button_tag 'Save', class: 'btn btn-success' %>
      </footer>
    </div>
  <% end %>
</div>
