<% content_for(:page_title, "#{ operation_name(@bulk_edit.operation) } mappings") %>

<% breadcrumb(:edit_multiple_mappings, @site) %>

<div class="page-title">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    <%= operation_name(@bulk_edit.operation) %> mappings
  </h1>
</div>

<%= form_tag update_multiple_site_mappings_path(site_id: @site) do %>
  <%= render partial: 'edit_multiple_table',
             locals: { modal: false, mappings: @bulk_edit.mappings, site: @site } %>
  <%= render partial: 'edit_multiple_redirect',
             locals: { new_url: @bulk_edit.new_url,
                       new_url_error: @bulk_edit.new_url_error, operation: @bulk_edit.operation } %>
  <%= hidden_field_tag "return_path", @bulk_edit.return_path %>

  <% if @bulk_edit.operation == 'tag' %>
    <%= render partial: 'shared/tag_list_field', locals: { tag_list: @bulk_edit.tag_list } %>
  <% end %>

  <%= link_to 'Cancel', @bulk_edit.return_path, class: 'btn btn-default add-right-margin' %>
  <%= button_tag 'Save', class: 'btn btn-success' %>
<% end %>
