<div id="bulk-editing-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <%= form_tag update_multiple_site_mappings_path(@site), class: 'modal-dialog', role: 'form' do %>
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title">
          <%= http_status_name(@bulk_edit.http_status) %> mappings
        </h3>
      </header>
      <div class="modal-body remove-bottom-padding">
        <%= render partial: 'edit_multiple_redirect',
                   locals: {
                           new_url: @bulk_edit.new_url,
                           new_url_error: @new_url_error,
                           http_status: @bulk_edit.http_status } %>
        <%= render partial: 'edit_multiple_table',
                   locals: { modal: true,
                             mappings: @bulk_edit.mappings,
                             site: @site } %>
      </div>
      <footer class="modal-footer remove-top-margin">
        <a href="#close" data-dismiss="modal" class="btn btn-default add-right-margin">Cancel</a>
        <%= button_tag 'Save', class: 'btn btn-success' %>
      </footer>
    </div>
  <% end %>
</div>
