<% breadcrumb(:filter_mappings, @site) %>

<%= content_for :page_title, 'Filter mappings' %>
<h1 class="page-title-with-border">
  <span class="small"><%= @site.default_host.hostname %></span>
  Filter mappings
</h1>

<%= form_tag(site_mappings_path(@site), method: 'get', role: 'form', class: 'form row') do %>
  <div class="col-md-6">
    <%= render partial: 'mappings/filter/by_path' %>
    <%= render partial: 'mappings/filter/by_new_url' %>
    <%= button_tag 'Filter', name: nil, class: 'btn btn-default ' %>
  </div>
<% end %>
