<% content_for(:page_title, "#{@site.abbr} Mappings") %>

<%= breadcrumb(@site) %>

<h1><%= @site.abbr %> Mappings</h1>

<%= render partial: 'site', locals: { site: @site } %>
<%= render partial: 'filters' %>

<% if @mappings.empty? or @mappings.length < Mapping.default_per_page %>
  <div class="add-bottom-margin">
    <%= link_to 'New mapping', new_site_mapping_path(@site), class: 'btn btn-primary' %>
  </div>
<% else %>
  <div class="clearfix">
    <div class="pull-left">
      <%= paginate(@mappings, :window => 2) %>
    </div>
    <div class="pull-right">
      <%= link_to 'New mapping', new_site_mapping_path(@site), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<% if @mappings.any? %>
  <table class="mappings table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th>HTTP Status</th>
      <th>
        Original path from <%= @site.default_host.hostname %>
        <br>
        (where it redirects to when applicable)
      </th>
    </tr>
    </thead>
    <tbody>
    <% @mappings.each do |mapping| %>
      <tr data-status-code="<%= mapping.http_status %>">
        <td><%= link_to 'Edit', edit_site_mapping_path(@site, mapping) %></td>
        <td><%= mapping.http_status %></td>
        <td>
          <%= example_url(mapping) %>
          <% if mapping.redirect? %>
            <span class="redirects-to">redirects to</span><br>
            <%= link_to mapping.new_url, mapping.new_url if mapping.new_url.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate(@mappings, :window => 2) %>
<% end %>
