<% title = @filtered ? 'Filtered mappings' : 'Mappings' %>
<% content_for(:page_title, "#{title} | #{@site.default_host.hostname}") %>
<% breadcrumb(@filtered ? :filtered_mappings : :mappings, @site) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    <%= title %>
  </h1>
</div>

<h2>
  <%= pluralize(number_with_delimiter(@mappings.total_count), 'mapping') %>
</h2>
<%= render partial: 'filters' %>

<% if @mappings.any? %>

  <%= paginate(@mappings) %>

  <%= render partial: 'mappings_table',
    locals: {
      mappings: @mappings,
      site: @site,
      css: 'mappings-index',
      include_footer: true,
      include_bulk_add: true
    }
  %>

  <%= paginate(@mappings) %>

<% else %>
  <% if current_user.can_edit?(@site.organisation) %>
    <div class="add-bottom-margin">
      <%= render partial: 'add_button' %>
    </div>
  <% end %>
  <p class="no-content no-content-bordered">
    No mappings found
  </p>
<% end %>
