<% content_for(:page_title, "#{@site.default_host.hostname} Mappings") %>

<%= breadcrumb(@site) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Mappings
  </h1>
</div>

<%= render partial: 'site', locals: { site: @site } %>
<%= render partial: 'filters' %>

<h2><%= pluralize(number_with_delimiter(@mappings.total_count, :delimiter => ','), 'mapping', 'mappings') %></h2>

<% if @mappings.any? %>

  <%= paginate(@mappings) %>

  <% if current_user.can_edit?(@site.organisation) %>
    <div data-module="selectable-table">
  <% end %>
  <%= form_tag edit_multiple_site_mappings_path(@site), remote: true do %>
  <table class="mappings table table-bordered">
    <thead>
      <tr class="table-header">
        <% if current_user.can_edit?(@site.organisation) %>
          <th></th>
        <% end %>
        <th class="mapping-type-header" scope="col">Type</th>
        <th scope="col">
          Original path from <%= @site.default_host.hostname %>
        </th>
        <% if current_user.can_edit?(@site.organisation) %>
          <th></th>
        <% end %>
      </tr>
      <% if current_user.can_edit?(@site.organisation) %>
        <%= render partial: 'mappings_table_header', locals: {footer: false} %>
      <% end %>
    </thead>
    <tbody>
    <% @mappings.each do |mapping| %>
      <tr data-status-code="<%= mapping.http_status %>">
        <% if current_user.can_edit?(@site.organisation) %>
          <td class="selectable-row">
            <div class="relative">
              <label>
                <%= check_box_tag "mapping_ids[]", mapping.id, checked = false, class: 'js-toggle-row' %>
              </label>
            </div>
          </td>
        <% end %>
        <td class="<%= "mapping-type-#{mapping.type}" %>">
          <%= mapping.type.titleize %>
        </td>
        <td>
          <strong><%= link_to mapping.path, mapping.old_url, class: 'breakable' %></strong>
          <% if mapping.redirect? %>
            <br><span class="muted">redirects to</span>
            <%= link_to mapping.new_url, mapping.new_url, class: 'muted-link breakable' if mapping.new_url.present? %>
          <% end %>
        </td>
        <% if current_user.can_edit?(@site.organisation) %>
          <td class="text-right">
            <%= link_to edit_site_mapping_path(@site, mapping), class: 'btn btn-mini' do %>
              Edit&nbsp;mapping
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
    <% if current_user.can_edit?(@site.organisation) %>
      <tfoot class="if-no-js-hide">
        <%= render partial: 'mappings_table_header', locals: {footer: true} %>
      </tfoot>
    <% end %>
  </table>
  <% end %>
  <% if current_user.can_edit?(@site.organisation) %>
    </div>
    <script>GOVUK.SelectableTable.setup()</script>
  <% end %>

  <%= paginate(@mappings) %>

<% else %>
  <% if current_user.can_edit?(@site.organisation) %>
    <div class="add-bottom-margin">
      <%= render partial: 'add_button' %>
    </div>
  <% end %>
  <p class="no-content no-content-bordered">
    No mappings found
  </p>
<% end %>
