<% content_for(:page_title, "#{@site.abbr} Mappings") %>

<%= breadcrumb(@site) %>

<h1 class="page-header"><%= @site.abbr %> Mappings</h1>

<%= render partial: 'site', locals: { site: @site } %>
<%= render partial: 'filters' %>

<h2><%= pluralize(number_with_delimiter(@mappings.total_count, :delimiter => ','), 'mapping', 'mappings') %></h2>

<% if (@mappings.empty? or @mappings.total_count < Mapping.default_per_page) && current_user.can_edit?(@site.organisation) %>
  <div class="add-bottom-margin">
    <%= render partial: 'add_button' %>
  </div>
<% elsif current_user.can_edit?(@site.organisation) %>
  <div class="pull-left">
    <%= paginate(@mappings) %>
  </div>
  <div class="pull-right add-bottom-margin">
    <%= render partial: 'add_button' %>
  </div>
<% else %>
  <div class="add-bottom-margin">
    <%= paginate(@mappings) %>
  </div>
<% end %>

<% if @mappings.any? %>
  <table class="mappings table table-bordered">
    <thead>
    <tr>
      <% if current_user.can_edit?(@site.organisation) %>
        <th></th>
      <% end %>
      <th>HTTP Status</th>
      <th>
        Original path from <%= @site.default_host.hostname %>
        <br>
        (where it redirects to when applicable)
      </th>
    </tr>
    </thead>
    <tbody>
    <% @mappings.each do |mapping| %>
      <tr data-status-code="<%= mapping.http_status %>">
        <% if current_user.can_edit?(@site.organisation) %>
          <td><%= link_to 'Edit', edit_site_mapping_path(@site, mapping) %></td>
        <% end %>
        <td><%= mapping.http_status %></td>
        <td>
          <%= example_url(mapping) %>
          <% if mapping.redirect? %>
            <span class="redirects-to">redirects to</span><br>
            <%= link_to mapping.new_url, mapping.new_url, class: 'redirects-to-link' if mapping.new_url.present? %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate(@mappings) %>
  
<% else %>
  <p class="no-content no-content-bordered">
    No mappings found
  </p>
<% end %>
