<% content_for(:page_title, 'Confirm new mappings') %>

<% breadcrumb(:new_mappings_confirmation, @site) %>

<div class="page-title">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Confirm new mappings
  </h1>

  <h2>
    <%= "#{ http_status_name(@bulk_add.http_status) }" %>
    <% if @bulk_add.http_status == '301' %>
      to <%= link_to @bulk_add.test_mapping.new_url, @bulk_add.test_mapping.new_url %>
    <% end %>
  </h2>
</div>

<%= form_tag create_multiple_site_mappings_path(@site) do %>
  <%= hidden_field_tag "http_status", @bulk_add.http_status %>
  <% if @bulk_add.http_status == '301' %>
    <%= hidden_field_tag "new_url", @bulk_add.test_mapping.new_url %>
  <% end %>

  <table class="table table-bordered table-striped">
    <thead>
      <tr class="table-header">
        <th>Old paths from <%= @site.default_host.hostname %></th>
      </tr>
    </thead>
    <tbody>
      <% @bulk_add.all_mappings.each do |m| %>
        <tr>
          <td>
            <strong><%= link_to m.path, m.old_url, class: 'breakable' %></strong>
            <span class="text-muted">
              <% if m.redirect? %>
                currently redirects to <%= link_to m.new_url, m.new_url, class: 'link-muted breakable' %>
              <% elsif m.archive? %>
                currently archived
              <% end %>
            </span>
            <%= hidden_field_tag "paths[]", m.path %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= button_tag 'Save', class: 'btn btn-success' %>
<% end %>
