<% content_for(:page_title, 'Confirm new mappings') %>

<% breadcrumb(:new_mappings_confirmation, @site) %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Confirm new mappings
  </h1>
</div>

<%= form_tag import_site_bulk_add_batch_path(@site, @batch) do %>

  <% if params[:return_path].present? %>
    <%= hidden_field_tag 'return_path', params[:return_path] %>
  <% end %>

  <% if @batch.entries.with_existing_mappings.any? %>
    <div class="alert alert-warning">
      <h4>We’ve found <%= pluralize(@batch.entries.with_existing_mappings.count, "existing mapping") %> for the paths entered</h4>
      <%= label_tag :update_existing_false, class: 'radio-inline' do %>
        <%= radio_button_tag 'update_existing', 'false', true %> Keep existing mappings
      <% end %>
      <%= label_tag :update_existing_true, class: 'radio-inline' do %>
        <%= radio_button_tag 'update_existing', 'true' %> Overwrite existing mappings
      <% end %>
    </div>
  <% else %>
    <%= hidden_field_tag "update_existing", "false" %>
  <% end %>

  <h2 class="add-bottom-margin">
    <%= new_confirmation_heading(@batch.type, @batch.entries.size) %>
    <% if @batch.redirect? %>
      <br />
      <span class="subtitle">
        to <%= link_to @batch.new_url, @batch.new_url, class: 'breakable' %>
      </span>
    <% end %>
  </h2>

  <% preview_mappings = @batch.entries.limit(20) %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr class="table-header">
        <th>
          <% if preview_mappings.size < @batch.entries.size %>
            Preview first <%= pluralize(preview_mappings.size, "mappings") %> of <%= number_with_delimiter(@batch.entries.size) %> mappings
          <% else %>
            Preview mappings
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% preview_mappings.each do |entry| %>
        <% existing_mapping = entry.mapping %>
        <tr>
          <td <% if existing_mapping %>class="warning"<% end %>>
            <strong><%= link_to entry.path, entry.old_url, class: 'breakable' %></strong>
            <%= render partial: 'mappings/new_multiple_mapping_status_table', locals: { existing_mapping: existing_mapping } %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <% if preview_mappings.size < @batch.entries.size %>
      <tfoot>
        <tr class="table-header">
          <td colspan="2" class="text-center bold">…and <%= @batch.entries.size - preview_mappings.size %> more.</td>
        </tr>
      </tfoot>
    <% end %>
  </table>

  <%= render partial: 'shared/tag_list_field', locals: { tag_list: @batch.tag_list } %>

  <%= button_tag 'Save', class: 'btn btn-success' %>
  <%= link_to 'Cancel', @bulk_add_cancel_destination, class: 'btn btn-default add-left-margin' %>
<% end %>
