<li class="if-no-js-hide <% if @filter.type %>selected-and-available<% end %>">
  <% if @filter.type %>
    <%= mappings_filter_remove_option_link(@site, nil, :type) %>
    <%= filter_option_link(filter_site_mappings_path(@site), @filter.type.pluralize.titleize, {selected: true}) %>
  <% else %>
    <%= filter_option_link(filter_site_mappings_path(@site), 'Type') %>
  <% end %>
  <ul class="dropdown-menu" role="menu">
    <% if @filter.type %>
      <li>
        <%= link_to 'All types', @filter.query.without_type, class: 'inherit' %>
      </li>
    <% end %>
    <% Mapping::SUPPORTED_TYPES.each do |type| %>
      <li>
        <%= link_to type.titleize, @filter.query.with_type(type), class: 'inherit' %>
      </li>
    <% end %>
  </ul>
</li>
