<h3 class="add-bottom-margin">Configuration</h3>

<div class="configuration panel panel-default">
  <dl class="panel-body dl-spaced remove-bottom-margin">
    <dt>New homepage</dt>
    <dd><%= link_to @site.homepage, @site.homepage, class: 'breakable' %></dd>
    <dt class="add-label-margin">All hostname aliases</dt>
    <dd class="host-aliases">
      <table class="table table-bordered table-hover">
        <thead class="table-header">
          <tr>
            <th>Hostname</th>
            <th>
              <abbr title="Time To Live">
                <%= link_to 'TTL', glossary_index_path(anchor: 'ttl'), class: 'glossary-link' %>
              </abbr>
            </th>
            <th>
              <%= link_to 'CNAME', glossary_index_path(anchor: 'cname'), class: 'glossary-link' %>
              or
              <%= link_to 'IP Address', glossary_index_path(anchor: 'a-record'), class: 'glossary-link' %>
            </th>
            <th>Has <%= link_to 'AKA', glossary_index_path(anchor: 'aka'), class: 'glossary-link' %>?</th>
          </tr>
        </thead>
        <tbody>
          <% @site.hosts.each do |host| %>
            <tr>
              <td>
                <%= host.hostname %>
                <% if @site.default_host == host %>
                  <br /><span class="text-muted">default</span>
                <% end %>
              </td>
              <td>
                <% if host.ttl %>
                  <span title="<%= number_with_delimiter(host.ttl) %> seconds">
                    <%= distance_of_time_in_words(host.ttl).capitalize %>
                  </span>
                <% else %>
                  <span class="text-muted">Unknown</span>
                <% end %>
              </td>
              <td><%= host.cname || host.ip_address || 'Unknown' %></td>
              <td>
                <% if host.has_aka == true %>
                  <%= link_to 'Yes', "http://#{host.aka_hostname}" %>
                <% elsif host.has_aka == false %>
                  No
                <% else %>
                  <span class="text-muted">Unknown</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </dd>
    <dt>Abbreviation</dt>
    <dd><%= @site.abbr %></dd>
    <dt>Significant query parameters</dt>
    <dd><%= @site.query_params.presence || 'None' %></dd>
    <dt>The National Archive (<abbr>TNA</abbr>) timestamp</dt>
    <dd><%= I18n.l(@site.tna_timestamp, :format => :govuk_date) %> <span class="text-muted"> — <%= @site.tna_timestamp.to_formatted_s(:number) %></span></dd>
  </dl>
</div>
