<div class="panel panel-default">
  <div class="panel-body">
      <p class="bold">
        <% if @site.global_redirect? %>
          All paths from <%= @site.default_host.hostname %><br />
           <span class=\"text-muted\">redirect to <%= @site.global_new_url %></span>
        <% elsif @site.global_archive? %>
          All paths from <%= @site.default_host.hostname %>
           <span class=\"text-muted\"> have been archived</span>
        <% end %>
      </p>
      <p class="text-muted remove-bottom-margin">
        <% if @site.global_redirect? && @site.global_redirect_append_path %>
          The path the user visited is appended to the destination. <br /><br />
          For example: <br />
          http://<%= @site.default_host.hostname %><strong>/specific/path</strong> <br />
          gets redirected to: <br />
          <%= @site.global_new_url %><strong>/specific/path</strong> <br /><br />
          To make changes please contact your Transition Manager.
        <% elsif @site.global_redirect? %>
          <%= I18n.t('mappings.global_type.redirect') %>
        <% elsif @site.global_archive? %>
          <%= I18n.t('mappings.global_type.archive') %>
        <% end %>
      </p>
  </div>
</div>


