<div class="mappings">
  <h3 class="remove-top-margin add-bottom-margin">Mappings</h3>
  <div class="list-group add-big-bottom-margin">
    <%= link_to site_mappings_path(@site), class: 'list-group-item' do %>
      <h4 class="list-group-item-heading"><%= mappings_edit_or_view %> mappings</h4>
      <p class="list-group-item-text text-muted">
        <%= mappings_manage_or_view %> mappings for <%= pluralize(@site.mappings.count, 'path') %>
        from <%= @site.default_host.hostname %>.
      </p>
    <% end %>

    <% if current_user.can_edit?(@site.organisation) %>
      <%= link_to new_multiple_site_mappings_path(@site), class: 'list-group-item' do %>
        <h4 class="list-group-item-heading">Add mappings</h4>
      <% end %>
    <% end %>
  </div>
</div>
