<div class="mappings">
  <h3 class="remove-top-margin add-bottom-margin">Mappings</h3>
  <div class="list-group add-big-bottom-margin">
    <div class="list-group-item">
      <h4 class="list-group-item-heading">
        <%= link_to 'Mappings', site_mappings_path(@site), class: 'no-visit' %>
      </h4>
      <p class="list-group-item-text text-muted">
        <strong><%= pluralize(number_with_delimiter(@site.mappings.count), 'path') %></strong> &mdash;
        <%= site_redirects_link(@site) %> and <%= site_archives_link(@site) %>
      </p>
    </div>
    <% if current_user.can_edit_site?(@site) %>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">
          <%= link_to 'Add mappings', new_multiple_site_mappings_path(@site), class: 'no-visit' %>
        </h4>
        <p class="list-group-item-text text-muted">
          Create new mappings from a list of paths
        </p>
      </div>
    <% end %>
    <% most_used_tags = most_used_tags_for_site(@site, limit: 10) %>
    <% if most_used_tags.any? %>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Mappings by tag</h4>
        <div class="list-group-item-text">
          <p class="text-muted add-bottom-margin">Tags used for grouping <%= @site.default_host.hostname %> mappings</p>
          <ul class="tag-list remove-bottom-margin">
            <% most_used_tags.each do |tag| %>
              <li>
                <%= link_to tag, site_mappings_path(@site, tagged: tag), class: 'tag' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
