<% content_for(:page_title, @site.default_host.hostname) %>

<div class="page-title-with-border">
  <h1>
    <small><%= @site.default_host.hostname %></small>
    <br />
    Delete this site and all its associated data
  </h1>
</div>

<div class="callout callout-danger">
  <div class="callout-title">
    WAIT!
  </div>
  <div class="callout-body">
    <p>
      This will delete the site <strong><%= @site.abbr %></strong> and all the data that is associated with it:
    </p>
    <ul>
      <li><%= t("site.confirm_destroy.hosts", count: @site.hosts.count) %></li>
      <li><%= t("site.confirm_destroy.mappings", count: @site.mappings.count) %></li>
    </ul>
    <p>Redirects will stop working.</p>
    <p>
      Restoring this site would require readding the site, the host(s), and all the mappings. The hits cannot be restored.
    </p>
  </div>
</div>

<%= form_for @site, method: :delete, html: { role: 'form' } do |f| %>
  <div class="form-group row add-top-margin">
    <div class="col-md-8">
      <div class="input-group">
        <dl>
          <dt>
            <%= label_tag :confirm_destroy, "Please enter the site slug, #{@site.abbr}, to confirm that you want to delete this site and all its data." %>
          </dt>
          <dd>
            <%= text_field_tag(:confirm_destroy, {}, { class: 'form-control input' }) %>
          </dd>
        </dl>
      </div>
      <%= f.submit t("site.confirm_destroy.confirm"), class: 'add-top-margin btn btn-danger' %>
    </div>
  </div>
<% end %>
