<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb(:edit_site, @site) %>

<%= form_for @delete_site_form, method: :delete, url: site_path, html: { role: 'form' } do |form| %>
  <% if object_has_errors?(form.object) %>
    <%= render "govuk_publishing_components/components/error_summary", {
      title: "There is a problem",
      items: error_messages(form.object)
    } %>
  <% end %>

  <span class="govuk-caption-l"><%= @site.default_host.hostname %></span>
  <%= render "govuk_publishing_components/components/heading", {
    text: "Delete this site and all its associated data",
    heading_level: 1,
    font_size: "l",
    margin_bottom: 6,
  } %>

  <%= render "govuk_publishing_components/components/warning_text", {
    text: "This will delete the #{@site.default_host.hostname} site and all the data that is associated with it.",
    margin_bottom: 6
  } %>

  <p class="govuk-body">In addition to the site, this action will also remove:</p>
  <%= render "govuk_publishing_components/components/list", {
    visible_counters: true,
    items: [
      t("site.confirm_destroy.hosts", count: @site.hosts.count),
      t("site.confirm_destroy.mappings", count: @site.mappings.count),
    ]
  } %>

  <p class="govuk-body">Redirects will stop working.</p>
  <p class="govuk-body govuk-!-margin-bottom-7">
    Restoring this site would require re-adding the site, the host(s), and all the mappings. The hits cannot be
    restored.
  </p>

  <%= render "govuk_publishing_components/components/input", {
    label: { text: "Enter the site's primary hostname, #{@site.default_host.hostname}, to confirm that you want to delete this site and all its data." },
    name: form.field_name(:hostname_confirmation),
    id: field_id_attribute(form.object, :hostname_confirmation),
    error_message: error_message(form.object, :hostname_confirmation),
    value: form.object.hostname_confirmation,
    heading_size: "s"
  } %>

  <%= render "govuk_publishing_components/components/button", {
    text: "I understand the consequences, delete this site",
    destructive: true
  } %>
<% end %>
