<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :site, @site %>

<div class="page-title-with-border">
  <h1><%= @site.default_host.hostname %></h1>
</div>

<%= form_for @site, html: { role: 'form' } do |f| %>
  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <dl class="read-only-fields add-vertical-margins">
          <%= f.label :old_date, 'Old transition date:' %>
          <%= @site.launch_date %>
        </dl>
        <div class="input-group">
          <%= f.label :launch_date, 'New transition date:' %>
          <%= f.date_field :launch_date, class: 'form-control' %>
        </div>
      </div>
    </div>
    <%= f.submit 'Save', class: 'add-top-margin btn btn-success' %>
  </div>
<% end %>
