<% content_for :page_title, "New transition site" %>

<% breadcrumb(:new_site, @organisation) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_for @site_form, url: organisation_sites_path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-l">New transition site</h1>

      <%= form.hidden_field :organisation_slug, value: @organisation.whitehall_slug %>

      <%= form.govuk_text_field :abbr, width: "one-third", label: { size: "m" } %>

      <%= form.govuk_text_field :tna_timestamp, width: "one-third", label: { size: "m" } %>

      <%= form.govuk_text_field :homepage, width: "two-thirds", label: { size: "m" } %>

      <%= form.govuk_text_field :hostname, width: "two-thirds", label: { size: "m" } %>

      <%= form.govuk_text_field :homepage_title, width: "two-thirds", label: { size: "m" } %>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="site_form_extra_organisations">
          <%= I18n.t("helpers.label.site_form.extra_organisations") %>
        </label>

        <div id="site-form-extra-organisations-hint" class="govuk-hint">
          <%= I18n.t("helpers.hint.site_form.extra_organisations") %>
        </div>

        <%= form.collection_select :extra_organisations,
                                   form.object.organisations,
                                   :id,
                                   :title,
                                   {},
                                   { multiple: true, class: "govuk-select extra-organisations govuk-!-width-two-thirds" }
        %>
      </div>

      <%= form.govuk_text_field :homepage_furl, width: "two-thirds", label: { size: "m" } %>

      <%= form.govuk_radio_buttons_fieldset :global_type do %>
        <%= form.govuk_radio_button :global_type, Site::GLOBAL_TYPES[:archive], link_errors: true %>
        <%= form.govuk_radio_button :global_type, Site::GLOBAL_TYPES[:redirect] do %>
          <%= form.govuk_text_field :global_new_url, width: "two-thirds" %>
        <% end %>
      <% end %>

      <%= form.govuk_text_field :query_params, label: { size: "m" } %>

      <%= form.govuk_check_boxes_fieldset :global_redirect_append_path, multiple: false do %>
        <%= form.govuk_check_box :global_redirect_append_path, 1, 0, multiple: false, link_errors: true %>
      <% end %>

      <%= form.govuk_collection_radio_buttons :special_redirect_strategy,
                                              Site::SPECIAL_REDIRECT_STRATEGY_TYPES,
                                              :to_s,
                                              :humanize %>

      <%= form.govuk_text_area :aliases, label: { size: "m" } %>

      <%= form.govuk_submit "Save" %>
    <% end %>
  </div>
</div>
