<% content_for(:page_title, "#{@site.default_host.hostname} site details") %>

<% breadcrumb :site, @site %>

<div class="page-title-with-border">
  <h1><%= @site.default_host.hostname %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'mappings' %>

    <%= render 'performance' %>

    <%= render 'configuration' %>
  </div>

  <div class="col-md-4">
    <h3 class="remove-top-margin add-bottom-margin">Transition</h3>

    <div class="highlight highlight-<%= @site.transition_status.to_s.dasherize %> add-bottom-margin">
      <span class="big-message"><%= render partial: 'transition_status', locals: { site: @site } %></span>
    </div>

    <div class="highlight date">
      <%= big_launch_days_number(@site) %>
      <br/><br/>
      <%= date_or_not_yet(@site.launch_date) %>
    </div>
  </div>
</div>
