<% content_for(:page_title, "#{@site.default_host.hostname} site details") %>

<% breadcrumb :site, @site %>

<h1><%= @site.default_host.hostname %></h1>

<div class="mappings">
  <h3>Mappings</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to site_mappings_path(@site) do %>
        <h4 class="list-group-item-heading">Edit mappings</h4>
      <% end %>
    </li>
    <li class="list-group-item">
      <%= link_to new_multiple_site_mappings_path(@site) do %>
        <h4 class="list-group-item-heading">Add mappings</h4>
      <% end %>
    </li>
  </ul>
</div>

<div class="performance">
  <h3>Performance</h3>
  <ul class="list-group">
    <li class="list-group-item">
      <%= link_to site_hits_path(@site) do %>
        <h4 class="list-group-item-heading">Analytics</h4>
      <% end %>
      <p class="list-group-item-text">
        Graphs and tables charting
        <abbr data-original-title="Resources served from the website including pages, images and file downloads."
              data-toggle="tooltip" title="">hits</abbr>
        to www.attorneygeneral.gov.uk. Use analytics to see how many users
        are visiting old URLs and what proportion of them are being
        redirected, seeing archives or finding errors.
      </p>
    </li>
  </ul>
</div>

<div class="highlight status highlight-<%= @site.transition_status %> add-bottom-margin">
  <span class="big-message"><%= render partial: 'transition_status', locals: {site: @site} %></span>
</div>

<div class="highlight date">
  <%= big_launch_days_number(@site) %>
  <br/><br/>
  <%= date_or_not_yet(@site.launch_date) %>
</div>
