<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :site, @site %>

<div class="page-title-with-border">
  <h1><%= @site.default_host.hostname %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'mappings' %>

    <%= render 'performance' %>

    <%= render 'configuration' %>
  </div>

  <div class="col-md-4">

    <%= render 'billing' %>

    <% unless @site.transition_status == :live %>
      <%= render partial: 'tools', locals: {site: @site } %>
    <% end %>
  </div>
</div>
