<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :site, @site %>

<div class="page-title-with-border">
  <h1><%= @site.default_host.hostname %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'mappings' %>

    <%= render 'performance' %>

    <%= render 'configuration' %>
  </div>

  <div class="col-md-4">
    <h3 class="remove-top-margin add-bottom-margin">Transition</h3>

    <div class="highlight highlight-<%= @site.transition_status.to_s.dasherize %> add-bottom-margin">
      <span class="big-message"><%= render partial: 'transition_status', locals: { site: @site } %></span>
    </div>

    <div class="highlight days-from-launch add-big-bottom-margin">
      <%= big_launch_days_number(@site) %>
      <%= date_or_not_yet(@site.launch_date) %>
      <br />
      <% if current_user.gds_editor? || current_user.admin? %>
        <span class="small"><%= link_to 'Edit date', site_edit_date_path(@site), class: 'link-inherit' %></span>
      <% end %>
    </div>

    <% if current_user.site_manager? %>
      <div class="highlight add-big-bottom-margin">
        <%= link_to 'Edit', edit_site_path(@site) %>
      </div>
    <% end %>

    <% if current_user.site_manager? %>
      <div class="highlight highlight-danger">
        <%= link_to 'Delete', confirm_destroy_site_path(@site) %>
      </div>
    <% end %>
  </div>
</div>
