<% content_for(:page_title, @site.default_host.hostname) %>

<% breadcrumb :site, @site %>

<div class="page-title-with-border">
  <h1>
    <span class="small"><%= @site.default_host.hostname %></span>
    Site details
  </h1>
</div>

<dl class="dl-spaced">
  <dt>Default hostname</dt>
  <dd><%= @site.default_host.hostname %></dd>
  <dt>Hostname aliases</dt>
  <dd><%= @site.hosts.pluck(:hostname).join(', ') %></dd>
  <dt>New homepage</dt>
  <dd><%= link_to @site.homepage, @site.homepage, class: 'breakable' %></dd>
  <dt>Mappings</dt>
  <dd><%= link_to 'Mappings', site_mappings_path(@site) %></dd>
  <dt>Analytics</dt>
  <dd><%= link_to 'Analytics', summary_site_hits_path(@site) %></dd>
  <dt>Abbreviation</dt>
  <dd><%= @site.abbr %></dd>
  <dt>Significant query parameters</dt>
  <dd><%= @site.query_params.presence || 'None' %></dd>
  <dt>The National Archive (<abbr>TNA</abbr>) timestamp</dt>
  <dd><%= @site.tna_timestamp.to_formatted_s(:long) %> <span class="text-muted"> — <%= @site.tna_timestamp.to_formatted_s(:number) %></span></dd>
</dl>
