<!DOCTYPE html>
<html class="no-js" id="gov-uk-transition">
<head>
  <title><%= yield :page_title %> | GOV.UK Transition</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
  <% # HTML5 shim, for IE6-8 support of HTML5 elements %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
  <![endif]-->
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= yield :extra_headers %>
</head>
<body>
  <header class="navbar navbar-default navbar-inverse navbar-static-top add-bottom-margin" role="banner">
    <div class="container">
      <div class="navbar-header">
        <%# Bootstrap toggle for collapsed navbar content, used at smaller widths %>
        <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to 'GOV.UK Transition', root_path, :class => 'navbar-brand' %>
      </div>

      <nav role="navigation" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li <% if current_page?('/') or current_page?(organisations_path) %> class="active" <% end %>>
            <a href="/">Organisations</a>
          </li>
          <% if current_user.organisation %>
            <li <% if current_page?(organisation_path(current_user.organisation)) %> class="active" <% end %>>
              <%= link_to organisation_with_abbreviation(current_user.organisation), organisation_path(current_user.organisation), title: 'Your organisation' %>
            </li>
          <% end %>
        </ul>
        <p class="navbar-text pull-right">
          Hello, <%= link_to current_user.name, Plek.current.find('signon') %> &bull; <%= link_to 'Sign out', gds_sign_out_path %>
        </p>
      </nav>
    </div>
  </header>
  <section class="container">

    <main role="main">
      <% # Map bootstrap alerts to Rails flashes, but keep notice and alert as they are pecial cased with redirect_to %>
      <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
        <div class="alert alert-<%= k == :notice || k == :alert ? 'warning' : k %>">
          <%= flash[k] %>
        </div>
      <% end %>

      <% breadcrumbs do |links| %>
        <% if links.any? %>
          <ul class='breadcrumb'>
            <% links.each do |link| %><%= crumb_li(link.text, link.url, link.current?) %><% end %>
          </ul>
        <% end %>
      <% end %>

      <%= yield %>
    </main>

    <footer class="page-footer">
      <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a> <span class="pull-right">Version: <%= CURRENT_RELEASE_SHA %></span></p>
    </footer>
  </section>
</body>
</html>
