<%# blocks for govuk_admin_template %>
<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
  <% # Google Analytics tracking, minified via http://mathiasbynens.be/notes/async-analytics-snippet %>
  <% if Rails.env.production? %>
    <script>var _gaq=[['_setAccount','UA-48150192-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
  <% end %>
<% end %>
<% content_for :navbar_items do %>
  <% if current_user.own_organisation %>
    <li <% if current_page?(organisation_path(current_user.own_organisation)) %> class="active" <% end %>>
      <%= link_to organisation_with_abbreviation(current_user.own_organisation), organisation_path(current_user.own_organisation), title: 'Your organisation' %>
    </li>
  <% end %>
  <% if current_user.gds_editor? %>
    <li <% if current_page?(hits_path) %> class="active" <% end %>>
      <%= link_to 'Universal analytics', hits_path %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li <% if current_page?(admin_whitelisted_hosts_path) %> class="active" <% end %>>
      <%= link_to 'Redirection whitelist', admin_whitelisted_hosts_path %>
    </li>
  <% end %>
  <li <% if current_page?(glossary_index_path) %> class="active" <% end %>>
    <%= link_to 'Glossary', glossary_index_path %>
  </li>
<% end %>

<% content_for :favicon do %>
  <% environment_style = GovukAdminTemplate.environment_style %>
  <%= favicon_link_tag environment_style ?
        "favicon-#{environment_style}.png" : "favicon.png" %>
<% end %>

<% #content_for concatenates successive calls %>
<% content_for :page_title do %> | GOV.UK Transition<% end %>

<% content_for :navbar_right do %>
  Hello, <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>
<% content_for :footer_version do %><%= CURRENT_RELEASE_SHA %><% end %>
<% content_for :app_title do %>GOV.UK Transition<% end %>
<% content_for :content do %>
  <% # Map bootstrap alerts to Rails flashes, but keep notice and alert as they are pecial cased with redirect_to %>
  <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <div class="
      alert
      alert-<%= k == :notice || k == :alert ? 'warning' : k %>
      <% if k == :success && @saved_mappings %>if-js-hide<% end %>
    ">
      <%= flash[k] %>
    </div>
  <% end %>

  <% if flash[:batch_progress] %>
    <div data-module="batch-progress" data-url="<%= site_batch_path(@site, @reportable_batch) %>">
      <div class="alert alert-<%= flash[:batch_progress][:type] %> js-progress-message js-progress-container">
        <%= flash[:batch_progress][:message] %>
      </div>
      <% if flash[:show_background_batch_progress_modal] %>
        <%= render partial: 'mappings/background_batch_progress_modal', locals: { batch: @reportable_batch } %>
      <% end %>
    </div>
  <% end %>

  <% if @saved_mappings %>
    <%= render partial: 'mappings/saved_mappings_modal',
      locals: {
        site: @site,
        operation: flash[:saved_operation],
        message: flash[:success],
        mappings: @saved_mappings,
      }
    %>
  <% end %>

  <% breadcrumbs.tap do |links| %>
    <% if links.any? %>
      <ul class='breadcrumb'>
        <% links.each do |link| %><%= crumb_li(link.text, link.url, link.current?) %><% end %>
      </ul>
    <% end %>
  <% end %>

  <%= yield %>
  <%= render partial: 'shared/go_to' %>
<% end %>
<%# use the govuk_admin_foundation layout %>
<%= render :template => 'layouts/govuk_admin_template' %>
