<% content_for :head do %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= yield :extra_headers %>
<% end %>
<% content_for :navbar_items do %>
  <% if current_user.own_organisation %>
    <li <% if current_page?(organisation_path(current_user.own_organisation)) %> class="active" <% end %>>
      <%= link_to organisation_with_abbreviation(current_user.own_organisation), organisation_path(current_user.own_organisation), title: 'Your organisation' %>
    </li>
  <% end %>
  <% if current_user.gds_editor? %>
    <li <% if current_page?(hits_path) %> class="active" <% end %>>
      <%= link_to 'Universal analytics', hits_path %>
    </li>
    <li <% if current_page?(leaderboard_path) %> class="active" <% end %>>
      <%= link_to 'Leaderboard', leaderboard_path %>
    </li>
  <% end %>
  <% if current_user.admin? %>
    <li <% if current_page?(admin_whitelisted_hosts_path) %> class="active" <% end %>>
      <%= link_to 'Redirection whitelist', admin_whitelisted_hosts_path %>
    </li>
    <li>
      <%= link_to 'Hosts', hosts_path %>
    </li>
  <% end %>
  <li <% if current_page?(glossary_index_path) %> class="active" <% end %>>
    <%= link_to 'Glossary', glossary_index_path %>
  </li>
<% end %>

<% content_for :favicon do %>
<% end %>

<% content_for :page_title do %> | GOV.UK Transition<% end %>
<% content_for :footer_version do %><%= CURRENT_RELEASE_SHA %><% end %>
<% content_for :content do %>
  <% # Map bootstrap alerts to Rails flashes, but keep notice and alert as they are pecial cased with redirect_to %>
  <% [:success, :info, :warning, :danger, :notice, :alert].select { |k| flash[k].present? }.each do |k| %>
    <div class="
      alert
      alert-<%= k == :notice || k == :alert ? 'warning' : k %>
      <% if k == :success && @saved_mappings %>if-js-hide<% end %>
    ">
      <%= flash[k] %>
    </div>
  <% end %>

  <% if flash[:batch_progress] %>
    <div data-module="batch-progress" data-url="<%= site_batch_path(@site, @reportable_batch) %>">
      <div class="alert alert-<%= flash[:batch_progress][:type] %> js-progress-message js-progress-container">
        <%= flash[:batch_progress][:message] %>
      </div>
      <% if flash[:show_background_batch_progress_modal] %>
        <%= render partial: 'mappings/background_batch_progress_modal', locals: { batch: @reportable_batch } %>
      <% end %>
    </div>
  <% end %>

  <% if @saved_mappings %>
    <%= render partial: 'mappings/saved_mappings_modal',
      locals: {
        site: @site,
        operation: flash[:saved_operation],
        message: flash[:success],
        mappings: @saved_mappings,
      }
    %>
  <% end %>

  <% breadcrumbs.tap do |links| %>
    <% if links.any? %>
      <ul class='breadcrumb'>
        <% links.each do |link| %><%= crumb_li(link.text, link.url, link.current?) %><% end %>
      </ul>
    <% end %>
  <% end %>

  <%= yield %>
  <%= render partial: 'shared/go_to' %>
<% end %>

<%= render :template => 'layouts/admin_template' %>
