<!DOCTYPE html>
<html class="no-js" id="gov-uk-transition">
<head>
  <title><%= yield :page_title %> | GOV.UK Transition</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% # HTML5 shim, for IE6-8 support of HTML5 elements %>
  <!--[if lt IE 9]>
    <%= javascript_include_tag "html5" %>
  <![endif]-->
  <%= stylesheet_link_tag "legacy_layout", :media => "all" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <% # Google Analytics tracking, minified via http://mathiasbynens.be/notes/async-analytics-snippet %>
  <% if Rails.env.production? %>
    <script>var _gaq=[['_setAccount','UA-48150192-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
  <% end %>
</head>
<body>
  <header class="navbar navbar-default navbar-inverse navbar-static-top add-bottom-margin" role="banner">
    <div class="container">
      <div class="navbar-header">
        <%= link_to 'GOV.UK Transition', root_path, :class => 'navbar-brand' %>
      </div>
    </div>
  </header>
  <section class="container">

    <main role="main">
      <div class="error-page">

        <%= yield %>

      </div>
    </main>

    <footer class="page-footer">
      <a class="inherit" href="http://www.nationalarchives.gov.uk/information-management/our-services/crown-copyright.htm">&copy; Crown Copyright</a> <span class="pull-right">Version: <%= CURRENT_RELEASE_SHA %></span></p>
    </footer>
  </section>
</body>
</html>
